.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  width: 80%; 
  max-width: 600px; 
  margin: auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  color: black;
  transition: background-color 0.3s ease;
  width: 100%; 
  border-bottom: 2px solid #ccc; 
}

.completed {
  background-color: rgb(121, 204, 121);
}

.not-completed {
  background-color: white;
}

.icon {
  margin-left: 10px;
  cursor: pointer;
}

.add-todo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.add-todo input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.add-todo button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.add-todo button:hover {
  background-color: #0056b3;
}

